[submodule "conf/base16-shell"]
	path = conf/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "conf/zsh/zsh-git-prompt"]
	path = conf/zsh/zsh-git-prompt
	url = git@github.com:olivierverdier/zsh-git-prompt.git
[submodule "conf/zsh/git-prompt"]
	path = conf/zsh/git-prompt
	url = git@github.com:olivierverdier/zsh-git-prompt.git

[submodule "conf/vim/base16-vim"]
    path = conf/vim/bundle/base16-vim
    url = git@github.com:chriskempson/base16-vim
[submodule "conf/vim/vim-airline"]
    path = conf/vim/bundle/vim-airline
    url = git@github.com:bling/vim-airline
[submodule "conf/vim/vim-fugitive"]
    path = conf/vim/bundle/vim-fugitive
    url = git@github.com:tpope/vim-fugitive
[submodule "conf/vim/tagbar"]
    path = conf/vim/bundle/tagbar
    url = git@github.com:majutsushi/tagbar
[submodule "conf/vim/nerdtree"]
    path = conf/vim/bundle/nerdtree
    url = git@github.com:scrooloose/nerdtree
[submodule "conf/vim/vim-bbye"]
    path = conf/vim/bundle/vim-bbye
    url = git@github.com:moll/vim-bbye
[submodule "conf/vim/vim-snippets"]
    path = conf/vim/bundle/vim-snippets
    url = git@github.com:honza/vim-snippets
[submodule "conf/vim/NrrwRgn"]
    path = conf/vim/bundle/NrrwRgn
    url = git@github.com:chrisbra/NrrwRgn
[submodule "conf/vim/vim-multiple-cursors"]
    path = conf/vim/bundle/vim-multiple-cursors
    url = git@github.com:terryma/vim-multiple-cursors
[submodule "conf/vim/ctrlp"]
    path = conf/vim/bundle/ctrlp
    url = git@github.com:kien/ctrlp.vim
[submodule "conf/vim/tabular"]
    path = conf/vim/bundle/tabular
    url = git@github.com:godlygeek/tabular
[submodule "conf/vim/sytastic"]
    path = conf/vim/bundle/sytastic
    url = git@github.com:scrooloose/sytastic
[submodule "conf/vim/bundle/syntastic"]
	path = conf/vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "conf/vim/bundle/vim-hdevtools"]
	path = conf/vim/bundle/vim-hdevtools
	url = git@github.com:bitc/vim-hdevtools.git
[submodule "conf/vim/bundle/vim-syntax-shakespeare"]
	path = conf/vim/bundle/vim-syntax-shakespeare
	url = git@github.com:pbrisbin/vim-syntax-shakespeare
