snippet doc "Documentation" 
/**
 * ${1:Documentation}
 */
endsnippet

snippet p "Parameter" 
\param ${1:var} $2
endsnippet

snippet r "Return"
\return ${1:returns}
endsnippet

snippet s "Doxygen \see" 
\see $1
endsnippet

snippet t "TODO" 
// TODO: $1 (`date +%y.%m.%d` - `echo $USER`)$2
endsnippet
