<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <menu id="root-menu" label="Openbox 3.5">
    <separator label="Menu" />
    <menu id="desktop-app-menu"
	    label="Application"
	      execute="openbox-menu /etc/xdg/menus/kde-applications.menu" />
    <item label="Configure">
      <action name="Execute">
	<command>obconf</command>
      </action>
    </item>
    <item label="Reconfigure">
      <action name="Reconfigure"/>
    </item>
    <separator label="Session"/>
    <item label="Exit"> <action name="Exit"/> </item>
  </menu>
</openbox_menu>
